/* Style for the header */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #424141;
  border-bottom: 1px solid rgb(181, 129, 198);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-logo {
  font-size: 2.1rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--red);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.3rem;
}

.navbar .navbar-nav a:hover {
  color: var(--red);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--red);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.7);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--red);
}

#shopping-cart,
#hamburger-menu {
  display: none;
}

/* ======================================================== */

/* Hero Section */

.hero {
  height: 93vh;
  display: flex;
  align-items: center;
  background-image: url("https://initiate.alphacoders.com/images/130/stretched-1920-1080-1305882.jpeg?5469");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* ======================================================== */

/* Style for the footer */

.footer {
  display: flex;
  background-color: #424141; /* Background color */
  height: 10vh;
  color: #fff; /* Text color */
  align-items: center;
  justify-content: center;
  padding: 10px 0; /* Padding top and bottom */
}
