body {
  font-family: "Poppins", sans-serif;
}

.aboutus-page {
  color: black;
  font-weight: bolder;
}

.box-table {
  text-align: center;
}

.aboutus {
  margin: 3rem 7rem;
}

.aboutus h1 {
  font-weight: bolder;
  color: #195682;
}

.aboutus h1 span {
  color: chocolate;
}

.aboutus .anggota {
  text-align: left;
}

.box-profile-all {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.box-profile img {
  width: 300px;
  margin: 1rem;
}

.box-profile-all .box-profile {
  border: 1px solid chocolate;
  text-align: center;
  margin: 0 3.5rem 5rem 3.5rem;
}

.box-profile .profile {
  margin: 0rem 1rem 1rem 1rem;
  text-align: center;
  justify-content: center;
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: scroll;
}

.close-cart {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 50px;
  color: white;
  cursor: pointer;
}

#cartItemsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px -120px 10px 10px;
}
@media screen and (max-width: 600px) {
  .aboutus .anggota {
    margin: 2rem 1rem 0 1rem;
  }

  .box-profile-all .box-profile {
    margin: 0 0.5rem 1rem 0.5rem;
  }
  .aboutus {
    margin: 2rem 1rem; /* Adjust margin for smaller screens */
  }

  .aboutus h1 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  .anggota {
    text-align: center; /* Center align for smaller screens */
    margin-top: 1rem; /* Adjust top margin for smaller screens */
  }

  .box-profile-all .box-profile {
    margin: 0.5rem; /* Adjust margin for smaller screens */
  }
}
